In [1]:
import pandas as pd
import numpy as np
import nltk
import string
import threading
import time
import tkinter as tk
from tkinter import *
from tkinter import ttk

In [2]:
productData = pd.read_csv('product.csv')

In [3]:
productData

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Bank account service,Account opening closing management,PNC Bank N.A.,NJ,08540,2117542
1,Bank account service,Account opening closing management,WELLS FARGO & COMPANY,OK,73942,726417
2,Bank account service,Deposits withdrawals,"BANK OF AMERICA, NATIONAL ASSOCIATION",CA,92126,1912496
3,Bank account service,Account opening closing management,SYNCHRONY FINANCIAL,KY,40206,1912091
4,Bank account service,Account opening closing management,"RABOBANK, NATIONAL ASSOCIATION",CA,95853,725748
...,...,...,...,...,...,...
1167018,Virtual currency,Other service issues,"Coinbase, Inc.",PA,193XX,1569468
1167019,Virtual currency,Other transaction issues,"Coinbase, Inc.",NJ,07006,986342
1167020,Virtual currency,Other transaction issues,"Coinbase, Inc.",NJ,079XX,2416013
1167021,Virtual currency,Other transaction issues,Circle Internet Financial,MN,55432,2180024
1167022,Virtual currency,Other transaction issues,"Coinbase, Inc.",WA,981XX,1967518

In [4]:
IssueData = pd.read_csv('issue.csv')
IssueData

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Credit card,APR interest rate,JPMORGAN CHASE & CO.,PA,180XX,1728121
1,Credit card,APR interest rate,JPMORGAN CHASE & CO.,TX,77065,739643
2,Credit card,APR interest rate,AMERICAN EXPRESS COMPANY,CA,92201,740560
3,Credit card,APR interest rate,WELLS FARGO & COMPANY,PA,109XX,737319
4,Credit card,APR interest rate,JPMORGAN CHASE & CO.,ME,042XX,1049547
...,...,...,...,...,...,...
1167018,Money transfer virtual currency money service,Wrong amount charged received,KEYCORP,OR,970XX,2744378
1167019,Money transfers,Wrong amount charged received,JPMORGAN CHASE & CO.,CA,92630,1962912
1167020,Money transfer virtual currency money service,Wrong amount charged received,TD BANK US HOLDING COMPANY,CT,06825,2678056
1167021,Money transfer virtual currency money service,Wrong amount charged received,"Coinbase, Inc.",CA,95125,2944236
1167022,Money transfer virtual currency money service,Wrong amount charged received,"CITIZENS FINANCIAL GROUP, INC.",MI,484XX,3095972

In [5]:
def issueNumberBy(data):
    issueNumber = data.groupby('Issue').Issue.count()
    return issueNumber

In [6]:
def issueNameBy(data):
    issueName = data.groupby('Issue').apply(lambda df: df.Issue.iloc[0])
    return issueName

In [7]:
def productNumberBy(data):
    productNumber = data.groupby('Product').Product.count()
    return productNumber

In [8]:
def productNameBy(data):
    productName = data.groupby('Product').apply(lambda df: df.Product.iloc[0])
    return productName

In [9]:
def ProductNumberBul(secilenName):
    productName = productNameBy(productData)
    for i in range(0,len(productName)):
        if(productName[i] == secilenName):
            return i

In [10]:
dfProduct=pd.DataFrame(columns=['Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'])
dfProduct

Empty DataFrame
Columns: [Product1, Product2, Benzerlik-Orani, Product1-Sayi, Product2-Sayi]
Index: []

In [11]:
dfIssue=pd.DataFrame(columns=['Issue1','Issue2','Benzerlik-Orani','Issue1-Sayi','Issue2-Sayi'])

In [12]:
def word_benzerlik(text,text1):
    if(len(text)>=len(text1)):
        wordB=text
        wordK=text1
    else:
        wordB=text1
        wordK=text
    benzerWord = 0
    for t in range(len(wordK)):
        for t1 in range(len(wordB)):
            if(wordB[t1].lower()==wordK[t].lower()):
                benzerWord +=1
                break
    return benzerWord/len(wordB)*100

In [13]:
def benzerlik_Oran(name,number,yuzde):
    dfProduct=pd.DataFrame(columns=['Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'])
    j=0
    for text in range(len(name)):
        product = nltk.tokenize.word_tokenize(name[text])
        for text1 in range(text+1,len(name)):
            product1 = nltk.tokenize.word_tokenize(name[text1])
            sonuc = word_benzerlik(product,product1)
            if(sonuc>=yuzde and number[text1]>1):
                dfProduct.loc[j]=[name[text],name[text1],int(sonuc),int(number[text]),int(number[text1])]
                j+=1
    return dfProduct

In [14]:
def benzerlik_Oran1(name,number,yuzde,say1,say2):
    dfProduct=pd.DataFrame(columns=['Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'])
    j=0
    for text in range(say1,say2):
        product = nltk.tokenize.word_tokenize(name[text])
        for text1 in range(0,len(name)):
            product1 = nltk.tokenize.word_tokenize(name[text1])
            sonuc = word_benzerlik(product,product1)
            if(sonuc>=yuzde and number[text1]>1):
                dfProduct.loc[j]=[name[text],name[text1],int(sonuc),int(number[text]),int(number[text1])]
                j+=1
    return dfProduct

In [15]:
def urunleriKarsilastir(productData,yuzde):
    productName = productNameBy(productData)
    productNumber = productNumberBy(productData)
    dfProduct = benzerlik_Oran(productName,productNumber,yuzde)
    return dfProduct

In [16]:
def urunleriKarsilastir1(productData,yuzde,say1,say2):
    productName = productNameBy(productData)
    productNumber = productNumberBy(productData)
    dfProduct = benzerlik_Oran1(productName,productNumber,yuzde,say1,say2)
    return dfProduct

In [17]:
def issueKarsilastir(issueData,yuzde):
    issueName = issueNameBy(issueData)
    issueNumber = issueNumberBy(issueData)
    dfProduct = benzerlik_Oran(issueName,issueNumber,yuzde)
    return dfProduct

In [18]:
#issueKarsilastir(IssueData,70)

In [19]:
#urunleriKarsilastir(productData,0)

In [20]:
def secilenId(Id,yuzde):
    secilenName = productData.loc[productData['Complaint ID']==Id]
    i=ProductNumberBul(secilenName['Product'].item())
    j=0
    productName = productNameBy(productData)
    productNumber = productNumberBy(productData)
    dfProduct=pd.DataFrame(columns=['Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'])
    for text1 in range(0,len(productName)):
        product = nltk.tokenize.word_tokenize(secilenName['Product'].item())
        product1 = nltk.tokenize.word_tokenize(productName[text1])
        sonuc = word_benzerlik(product,product1)
        if(sonuc>=yuzde):
            dfProduct.loc[j]=[secilenName['Product'].item(),productName[text1],int(sonuc),int(productNumber[i]),int(productNumber[text1])]
            j+=1
    return dfProduct

In [21]:
dfProduct = secilenId(2744378,25)
dfProduct

,Product1,Product2,Benzerlik-Orani,Product1-Sayi,Product2-Sayi
0,Money transfer virtual currency money service,Money transfer virtual currency money service,100,7727,7727
1,Money transfer virtual currency money service,Virtual currency,33,7727,9

In [22]:
#secilen id ile benzer olan datalarÄ±n tÃ¼m bilgilerini Ã§ekiyoruz
def secilenYeniData(Id,yuzde):
    yeniData= pd.DataFrame()
    dfProduct = secilenId(Id,yuzde)
    productNamelist = dfProduct.groupby('Product2').apply(lambda df: df.Product2.iloc[0])
    for i in range(len(productNamelist)):
        print(productNamelist[i])
        yeniData=pd.concat([yeniData,productData.loc[productData['Product']==productNamelist[i]]])
    return yeniData

In [23]:
def secilenDataKarsilastir(Id,yuzde,issueYuzde):
    yeniData = secilenYeniData(Id,yuzde)
    yeniData2 = issueKarsilastir(yeniData,issueYuzde)
    print(yeniData2)
    return yeniData2

In [24]:
class CPUPainter:
    
    def threading1(self):
        self.df = urunleriKarsilastir1(productData,self.yuzde,0,6)
    def threading2(self):
         self.df1 = urunleriKarsilastir1(productData,self.yuzde,6,12)
    def threading3(self):
         self.df2 = urunleriKarsilastir1(productData,self.yuzde,12,18)
    def __init__(self,yuzde):
        self.yuzde = yuzde
        self.df = pd.DataFrame(columns=['Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'])
        self.df1 = pd.DataFrame()
        self.df2 = pd.DataFrame()
        t1 = threading.Thread(target=self.threading1)
        t1.start()
        t2 = threading.Thread(target=self.threading2)
        t2.start()
        t3 = threading.Thread(target=self.threading3)
        t3.start()
        
        
    def don(self):
        print(threading.enumerate())
        return pd.concat([self.df,self.df1,self.df2]).reset_index(drop=True)
    def calisanThread(self):
        return threading.active_count()

In [25]:
def btnProductBenzerlik():
    a = yuzde.get()
    print(a)
    a = CPUPainter(int(a))
    time.sleep(1)
    data = a.don()
    scrollbarx = Scrollbar(form,orient=HORIZONTAL)
    scrollbarY = Scrollbar(form,orient=VERTICAL)

    table = ttk.Treeview(form)
    table.place(x=25,y=25,width=900,height=700)
    table.configure(columns=('Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'))
    table.heading('#0',text='index',anchor=W)
    table.heading('Product1',text='Product1',anchor=W)
    table.heading('Product2',text='Product2',anchor=W)
    table.heading('Benzerlik-Orani',text='Benzerlik-Orani',anchor=W)
    table.heading('Product1-Sayi',text='Product1-Sayi',anchor=W)
    table.heading('Product2-Sayi',text='Product2-Sayi',anchor=W)
    for i in range(len(data)):
        table.insert(parent='', index='end',text="{}".format(i),iid=i, values=(data['Product1'][i],data['Product2'][i],data['Benzerlik-Orani'][i],data['Product1-Sayi'][i],data['Product2-Sayi'][i]))
    
    thrsayisi = a.calisanThread()
    lbl = tk.Label(text="Thread Sayisi : {}".format(thrsayisi))
    lbl.pack()
    lbl.place(x=1000,y=400)
    
def btnIssueBenzerlik():
    a = yuzde.get()
    print(a)
    data = issueKarsilastir(productData,float(a))
    
    scrollbarx = Scrollbar(form,orient=HORIZONTAL)
    scrollbarY = Scrollbar(form,orient=VERTICAL)

    table = ttk.Treeview(form)
    table.place(x=25,y=25,width=900,height=700)
    table.configure(columns=('Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'))
    table.heading('#0',text='index',anchor=W)
    table.heading('Product1',text='Issue1',anchor=W)
    table.heading('Product2',text='Issue2',anchor=W)
    table.heading('Benzerlik-Orani',text='Benzerlik-Orani',anchor=W)
    table.heading('Product1-Sayi',text='Issue1-Sayi',anchor=W)
    table.heading('Product2-Sayi',text='Issue2-Sayi',anchor=W)
    for i in range(len(data)):
        table.insert(parent='', index='end',text="{}".format(i),iid=i, values=(data['Product1'][i],data['Product2'][i],data['Benzerlik-Orani'][i],data['Product1-Sayi'][i],data['Product2-Sayi'][i]))

def btnProductIdBenzerlik():
    yuzde1 = yuzde.get()
    Id = productId.get()
    data = secilenId(float(Id),float(yuzde1))
    
    scrollbarx = Scrollbar(form,orient=HORIZONTAL)
    scrollbarY = Scrollbar(form,orient=VERTICAL)

    table = ttk.Treeview(form)
    table.place(x=25,y=25,width=900,height=700)
    table.configure(columns=('Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'))
    table.heading('#0',text='index',anchor=W)
    table.heading('Product1',text='Product1',anchor=W)
    table.heading('Product2',text='Product2',anchor=W)
    table.heading('Benzerlik-Orani',text='Benzerlik-Orani',anchor=W)
    table.heading('Product1-Sayi',text='Product1-Sayi',anchor=W)
    table.heading('Product2-Sayi',text='Product2-Sayi',anchor=W)
    for i in range(len(data)):
        table.insert(parent='', index='end',text="{}".format(i),iid=i, values=(data['Product1'][i],data['Product2'][i],data['Benzerlik-Orani'][i],data['Product1-Sayi'][i],data['Product2-Sayi'][i]))

def btnProductIdIssueBenzerlik():
    yuzde1 = yuzde.get()
    Id = productId.get()
    issueYuzde1 = issueYuzde.get()
    data = secilenDataKarsilastir(float(Id),float(yuzde1),float(issueYuzde1))
    table = ttk.Treeview(form)
    table.place(x=25,y=25,width=900,height=700)
    table.configure(columns=('Product1','Product2','Benzerlik-Orani','Product1-Sayi','Product2-Sayi'))
    table.heading('#0',text='index',anchor=W)
    table.heading('Product1',text='Issue1',anchor=W)
    table.heading('Product2',text='Issue2',anchor=W)
    table.heading('Benzerlik-Orani',text='Benzerlik-Orani',anchor=W)
    table.heading('Product1-Sayi',text='Issue1-Sayi',anchor=W)
    table.heading('Product2-Sayi',text='Issue2-Sayi',anchor=W)
    for i in range(len(data)):
        table.insert(parent='', index='end',text="{}".format(i),iid=i, values=(data['Product1'][i],data['Product2'][i],data['Benzerlik-Orani'][i],data['Product1-Sayi'][i],data['Product2-Sayi'][i]))

In [ ]:
form = tk.Tk()
form.title('Veri Benzerlik Oran')
form.geometry('1200x750')


yuzde = tk.Entry(form,width=24,bd = 5)
yuzde.pack()
yuzde.place(x=1000,y=50)

btnProduct = tk.Button(form, text='Product Benzerlik',fg='black',bg='white',width=20, command=btnProductBenzerlik)
btnProduct.pack(ipadx=6,ipady=5)
btnProduct.place(x=1000,y=100)

btnIssue = tk.Button(form, text='Issue Benzerlik',fg='black',bg='white',width=20,command=btnIssueBenzerlik)
btnIssue.pack(ipadx=6,ipady=5,side=RIGHT)
btnIssue.place(x=1000,y=150)

productId = tk.Entry(form,width=24,bd = 5)
productId.pack()
productId.place(x=1000,y=200)

btnProductId = tk.Button(form, text='Id Product Benzerlik',fg='black',bg='white',width=20,command=btnProductIdBenzerlik)
btnProductId.pack(ipadx=6,ipady=5,side=RIGHT)
btnProductId.place(x=1000,y=250)


issueYuzde = tk.Entry(form,width=24,bd = 5)
issueYuzde.pack()
issueYuzde.place(x=1000,y=300)


btnProductIdIssue = tk.Button(form, text='Id Product Issue Benzerlik',fg='black',bg='white',width=20,command=btnProductIdIssueBenzerlik)
btnProductIdIssue.pack(ipadx=6,ipady=5,side=RIGHT)
btnProductIdIssue.place(x=1000,y=350)

form.mainloop()

70
[<_MainThread(MainThread, started 15952)>, <Thread(Thread-6, started daemon 6980)>, <Heartbeat(Thread-7, started daemon 9420)>, <ControlThread(Thread-5, started daemon 10064)>, <HistorySavingThread(IPythonHistorySavingThread, started 10612)>, <ParentPollerWindows(Thread-4, started daemon 10000)>]
20
[<_MainThread(MainThread, started 15952)>, <Thread(Thread-6, started daemon 6980)>, <Heartbeat(Thread-7, started daemon 9420)>, <ControlThread(Thread-5, started daemon 10064)>, <HistorySavingThread(IPythonHistorySavingThread, started 10612)>, <ParentPollerWindows(Thread-4, started daemon 10000)>]
Bank account service
Checking savings account
                             Product1                   Product2  \
0  Account opening closing management            Closing account
1  Account opening closing management            Opening account
2                     Closing account           Managing account
3                     Closing account            Opening account
4                    Managing account            Opening account
5            Problem caused funds low  Problems caused funds low

  Benzerlik-Orani Product1-Sayi Product2-Sayi
0              50         35636          3716
1              50         35636          3312
2              50          3716         21964
3              50          3716          3312
4              50         21964          3312
5              75          3084         11251

In [ ]:
dfProduct.groupby('Product1').Product1.count()

In [ ]:
a = CPUPainter(50)
time.sleep(2)
a.calisanThread()