In [1]:
import pandas as pd
import numpy as np
import nltk
import string

In [2]:
file = pd.read_csv('rows.csv')
file

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5,6,11,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,05/10/2019,Checking or savings account,Checking account,Managing an account,Problem using a debit or ATM card,NaN,NaN,NAVY FEDERAL CREDIT UNION,FL,328XX,Older American,NaN,Web,05/10/2019,In progress,Yes,NaN,3238275
1,05/10/2019,Checking or savings account,Other banking product or service,Managing an account,Deposits and withdrawals,NaN,NaN,BOEING EMPLOYEES CREDIT UNION,WA,98204,NaN,NaN,Referral,05/10/2019,Closed with explanation,Yes,NaN,3238228
2,05/10/2019,Debt collection,Payday loan debt,Communication tactics,Frequent or repeated calls,NaN,NaN,CURO Intermediate Holdings,TX,751XX,NaN,NaN,Web,05/10/2019,Closed with explanation,Yes,NaN,3237964
3,05/10/2019,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Old information reappears or never goes away,NaN,NaN,Ad Astra Recovery Services Inc,LA,708XX,NaN,NaN,Web,05/10/2019,Closed with explanation,Yes,NaN,3238479
4,05/10/2019,Checking or savings account,Checking account,Managing an account,Banking errors,NaN,NaN,ALLY FINANCIAL INC.,AZ,85205,NaN,NaN,Postal mail,05/10/2019,In progress,Yes,NaN,3238460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282350,12/01/2011,Credit card,NaN,Credit determination,NaN,NaN,NaN,"CITIBANK, N.A.",MO,63301,NaN,NaN,Web,12/02/2011,Closed with relief,Yes,No,2396
1282351,12/01/2011,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",OH,45248,NaN,NaN,Web,12/06/2011,Closed without relief,No,No,2323
1282352,12/01/2011,Credit card,NaN,Billing disputes,NaN,NaN,NaN,JPMORGAN CHASE & CO.,OH,43207,NaN,NaN,Referral,12/01/2011,Closed with relief,Yes,No,2126
1282353,12/01/2011,Mortgage,Conventional adjustable mortgage (ARM),"Loan servicing, payments, escrow account",NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",CO,80920,NaN,NaN,Web,12/01/2011,Closed with relief,Yes,No,2315
1282354,12/01/2011,Credit card,NaN,Billing disputes,NaN,NaN,NaN,"CITIBANK, N.A.",WA,98275,NaN,NaN,Web,12/11/2011,Closed with relief,Yes,No,2329

In [3]:
list = ['Date received','Sub-product','Sub-issue','Consumer complaint narrative','Company public response',
        'Tags','Consumer consent provided?','Submitted via','Date sent to company','Company response to consumer','Timely response?',
       'Consumer disputed?']
for i in list:
    file.drop([i], axis=1, inplace=True)
file

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460
...,...,...,...,...,...,...
1282350,Credit card,Credit determination,"CITIBANK, N.A.",MO,63301,2396
1282351,Mortgage,"Loan modification,collection,foreclosure","BANK OF AMERICA, NATIONAL ASSOCIATION",OH,45248,2323
1282352,Credit card,Billing disputes,JPMORGAN CHASE & CO.,OH,43207,2126
1282353,Mortgage,"Loan servicing, payments, escrow account","BANK OF AMERICA, NATIONAL ASSOCIATION",CO,80920,2315
1282354,Credit card,Billing disputes,"CITIBANK, N.A.",WA,98275,2329

In [4]:
file.dropna(inplace=True)
file

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460
...,...,...,...,...,...,...
1282350,Credit card,Credit determination,"CITIBANK, N.A.",MO,63301,2396
1282351,Mortgage,"Loan modification,collection,foreclosure","BANK OF AMERICA, NATIONAL ASSOCIATION",OH,45248,2323
1282352,Credit card,Billing disputes,JPMORGAN CHASE & CO.,OH,43207,2126
1282353,Mortgage,"Loan servicing, payments, escrow account","BANK OF AMERICA, NATIONAL ASSOCIATION",CO,80920,2315
1282354,Credit card,Billing disputes,"CITIBANK, N.A.",WA,98275,2329

In [5]:
sw = set(nltk.corpus.stopwords.words('english'))
sw

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [6]:
poin = set(string.punctuation)

In [7]:
def remove_punctuation(text):
    text_nopunct = "".join([x for x in text if x not in poin])
    return text_nopunct

In [8]:
file['Product'] = file['Product'].apply(lambda x: remove_punctuation(x))
file['Issue'] = file['Issue'].apply(lambda x: remove_punctuation(x))
file

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,Credit reporting credit repair services or oth...,Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460
...,...,...,...,...,...,...
1282350,Credit card,Credit determination,"CITIBANK, N.A.",MO,63301,2396
1282351,Mortgage,Loan modificationcollectionforeclosure,"BANK OF AMERICA, NATIONAL ASSOCIATION",OH,45248,2323
1282352,Credit card,Billing disputes,JPMORGAN CHASE & CO.,OH,43207,2126
1282353,Mortgage,Loan servicing payments escrow account,"BANK OF AMERICA, NATIONAL ASSOCIATION",CO,80920,2315
1282354,Credit card,Billing disputes,"CITIBANK, N.A.",WA,98275,2329

In [9]:
def remove_stopWord(text):
    text = nltk.tokenize.word_tokenize(text)
    list = []
    for word in text:
        if word not in sw:
            list.append(word)
    return " ".join(list)

In [10]:
processed_docs = file['Product'].map(remove_stopWord)
file['Product'] = processed_docs

In [11]:
processed_docs = file['Issue'].map(remove_stopWord)
file['Issue'] = processed_docs

In [12]:
file

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking savings account,Managing account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking savings account,Managing account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,Credit reporting credit repair services person...,Incorrect information report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking savings account,Managing account,ALLY FINANCIAL INC.,AZ,85205,3238460
...,...,...,...,...,...,...
1282350,Credit card,Credit determination,"CITIBANK, N.A.",MO,63301,2396
1282351,Mortgage,Loan modificationcollectionforeclosure,"BANK OF AMERICA, NATIONAL ASSOCIATION",OH,45248,2323
1282352,Credit card,Billing disputes,JPMORGAN CHASE & CO.,OH,43207,2126
1282353,Mortgage,Loan servicing payments escrow account,"BANK OF AMERICA, NATIONAL ASSOCIATION",CO,80920,2315
1282354,Credit card,Billing disputes,"CITIBANK, N.A.",WA,98275,2329

In [13]:
file = file.reset_index(drop=True)

In [17]:
file = file.sort_values('Product')

In [18]:
file = file.reset_index(drop=True)

In [19]:
file

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Bank account service,Account opening closing management,PNC Bank N.A.,NJ,08540,2117542
1,Bank account service,Account opening closing management,WELLS FARGO & COMPANY,OK,73942,726417
2,Bank account service,Deposits withdrawals,"BANK OF AMERICA, NATIONAL ASSOCIATION",CA,92126,1912496
3,Bank account service,Account opening closing management,SYNCHRONY FINANCIAL,KY,40206,1912091
4,Bank account service,Account opening closing management,"RABOBANK, NATIONAL ASSOCIATION",CA,95853,725748
...,...,...,...,...,...,...
1167018,Virtual currency,Other service issues,"Coinbase, Inc.",PA,193XX,1569468
1167019,Virtual currency,Other transaction issues,"Coinbase, Inc.",NJ,07006,986342
1167020,Virtual currency,Other transaction issues,"Coinbase, Inc.",NJ,079XX,2416013
1167021,Virtual currency,Other transaction issues,Circle Internet Financial,MN,55432,2180024
1167022,Virtual currency,Other transaction issues,"Coinbase, Inc.",WA,981XX,1967518

In [20]:
dataIssue = file.sort_values('Issue')
dataIssue = dataIssue.reset_index(drop=True)
dataIssue

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Credit card,APR interest rate,JPMORGAN CHASE & CO.,PA,180XX,1728121
1,Credit card,APR interest rate,JPMORGAN CHASE & CO.,TX,77065,739643
2,Credit card,APR interest rate,AMERICAN EXPRESS COMPANY,CA,92201,740560
3,Credit card,APR interest rate,WELLS FARGO & COMPANY,PA,109XX,737319
4,Credit card,APR interest rate,JPMORGAN CHASE & CO.,ME,042XX,1049547
...,...,...,...,...,...,...
1167018,Money transfer virtual currency money service,Wrong amount charged received,KEYCORP,OR,970XX,2744378
1167019,Money transfers,Wrong amount charged received,JPMORGAN CHASE & CO.,CA,92630,1962912
1167020,Money transfer virtual currency money service,Wrong amount charged received,TD BANK US HOLDING COMPANY,CT,06825,2678056
1167021,Money transfer virtual currency money service,Wrong amount charged received,"Coinbase, Inc.",CA,95125,2944236
1167022,Money transfer virtual currency money service,Wrong amount charged received,"CITIZENS FINANCIAL GROUP, INC.",MI,484XX,3095972

In [23]:
file.to_csv(r'.\product.csv',index=None, header=True)

In [22]:
dataIssue.to_csv(r'.\issue.csv',index=None, header=True)